#main {
    margin: 10px;
}

a {
    color: black;
}

.custom-card {
    background-color: rgba(117, 164, 183, 0.2);
}

header {
    gap: 10px;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: lightblue;
}
img {
    object-position: left top;
    object-fit: cover;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code,
#playground-code,
#playground-result {
    color: dimgray;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

#top {
    margin-top: 10vh;
}

hr {
    background: linear-gradient(to right, lightblue, aliceblue);
    width: 100%;
}

.footer {
    align-items: center;
    text-align: center;
    gap: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    display: flex;
}

#repl {
    width: 100%;
}
#logo {
    width: 20vw;
}
