body {
    margin: 10px;
}

a {
    color: dimgray;
}
header {
    gap: 10px;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: lightblue;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main {
    margin-top: 10vh;
}

hr {
    background: linear-gradient(to right, lightblue, aliceblue);
    width: 100%;
}

.footer {
    align-items: center;
    text-align: center;
    gap: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    display: flex;
}

#repl {
    width: 100%;
}
#logo {
    width: 20vw;
}
